In [1]:
import pandas
from os import path
YEAR = '2009'
DATA_DIR = path.join('..', 'data')
locations = pandas.Series(pandas.read_csv(path.join(DATA_DIR, 'station_borough.csv'))['Local authority'].unique())

# ONS data
*cite key: EstimatesPopulationUK*

In [2]:
pop_data = pandas.read_csv(path.join(DATA_DIR, 'pop_data.csv'))
pop_data.head()

,lad2014_code,lad2014_name,country,sex,Age,population_2001,population_2002,population_2003,population_2004,population_2005,...,population_2008,population_2009,population_2010,population_2011,population_2012,population_2013,population_2014,population_2015,population_2016,population_2017
0,E06000001,Hartlepool,E,1,0,525,502,516,553,531,...,604,572,584,601,595,576,551,497,576,507
1,E06000001,Hartlepool,E,1,1,544,526,498,526,550,...,573,597,577,573,615,601,567,553,512,570
2,E06000001,Hartlepool,E,1,2,548,548,551,507,521,...,565,584,591,580,586,621,600,576,562,534
3,E06000001,Hartlepool,E,1,3,556,546,548,553,508,...,528,560,593,600,578,584,625,598,579,565
4,E06000001,Hartlepool,E,1,4,606,549,553,540,554,...,547,525,553,600,616,593,568,620,604,591

In [3]:
pop_values = pop_data.groupby('lad2014_name').sum()['population_' + YEAR]

In [4]:
borough_pop = {}
for loc in locations:
    if loc == 'City of Westminster':
        key = 'Westminster'
    elif loc == 'Richmond':
        key = 'Richmond upon Thames'
    else:
        key = loc
    try:
        borough_pop[loc] = pop_values.at[key]
    except KeyError:
        print('{} does not exist in population data'.format(loc))

In [5]:
borough_pop

{'Barking and Dagenham': 177580,
 'Barnet': 345829,
 'Brent': 298118,
 'Bromley': 306924,
 'Camden': 212924,
 'Chiltern': 92526,
 'City of London': 7472,
 'City of Westminster': 216980,
 'Croydon': 352763,
 'Ealing': 329966,
 'Enfield': 301971,
 'Epping Forest': 123820,
 'Greenwich': 243672,
 'Hackney': 236622,
 'Hammersmith and Fulham': 180116,
 'Haringey': 249805,
 'Harrow': 233495,
 'Havering': 234127,
 'Hillingdon': 265665,
 'Hounslow': 243366,
 'Islington': 196704,
 'Kensington and Chelsea': 161893,
 'Lambeth': 294050,
 'Lewisham': 270418,
 'Merton': 198136,
 'Newham': 286447,
 'Redbridge': 270435,
 'Richmond': 184394,
 'Southwark': 281120,
 'Sutton': 188167,
 'Three Rivers': 87096,
 'Tower Hamlets': 240495,
 'Waltham Forest': 248140,
 'Wandsworth': 299347,
 'Watford': 86472}

In [9]:
sum(borough_pop.values())/35

227058.7142857143

In [11]:
import numpy as np
np.std([int(i) for i in borough_pop.values()])

77724.78563075577

# Output

In [7]:
# import csv
# with open(path.join(DATA_DIR, 'borough_pop.csv'), 'w', newline='') as outfile:
#     writer = csv.writer(outfile)
#     writer.writerow(['Local authority', 'Population'])
#     writer.writerows(borough_pop.items())